body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.try-again-button {
    display: block;
    text-align: center;
    margin-top: 20px; /* Adjust spacing */
}

.try-again-button button {
    font-size: 20px; /* Adjust font size */
    color: #D8D6AB; /* Text color */
    background-color: #6C470D; /* Background color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.emotion-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.emotion-item {
    text-align: center;
    margin: 0 10px;
}

.emotion-name {
    font-size: 18px;
    margin-bottom: 5px;
}

.emotion-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin: 10px;
}

.first {
    background-color: #F10088;
    color: #fff;
}

.second {
    background-color: #43C2F8;
    color: #fff;
}

.third {
    background-color: #F18800;
    color: #fff;
}
