<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizing Emotions</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body style="background-color: #ECE490;">
    <h1 style="text-align: center;">Your Top 3 Emotions</h1>

    <img src="{{ url_for('static', filename=image_path) }}" alt="Uploaded Image" style="display: block; margin: 0 auto; max-width: 100%; max-height: 250px;">

    <div class="try-again-button">
        <a href="{{ url_for('index') }}"><button>Try Another Image!</button></a>
    </div>
    
    <div class="emotion-container">
        <div class="emotion-item">
            <div class="emotion-name first">{{ emotion_scores[0][0] }}</div>
            <div class="emotion-circle first">
                {{ emotion_scores[0][1] }}
            </div>
        </div>
        <div class="emotion-item">
            <div class="emotion-name second">{{ emotion_scores[1][0] }}</div>
            <div class="emotion-circle second">
                {{ emotion_scores[1][1] }}
            </div>
        </div>
        <div class="emotion-item">
            <div class="emotion-name third">{{ emotion_scores[2][0] }}</div>
            <div class="emotion-circle third">
                {{ emotion_scores[2][1] }}
            </div>
        </div>
    </div>
</body>
</html>
